<mat-card>
  <mat-card-title>Clientes</mat-card-title>
  <mat-card-content>
    <div class="filters">
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus" (selectionChange)="applyFilter()">
          <mat-option value="">Todos</mat-option>
          <mat-option value="PENDING">Em Atraso</mat-option>
          <mat-option value="PAID">Pago</mat-option>
          <mat-option value="CANCELLED">Cancelado</mat-option>
          <mat-option value="LATE">Dentro do Prazo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="filteredClients" class="mat-elevation-z8" multiTemplateDataRows>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let client"> {{client.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let client"> {{client.name}} </td>
      </ng-container>

      <ng-container matColumnDef="cpfCnpj">
        <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
        <td mat-cell *matCellDef="let client"> {{client.cpfCnpj}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let client"> {{client.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let client">
          <ng-container *ngFor="let status of getStatusCounts(client.contracts) | keyvalue">
            <span matBadge="{{status.value}}" matBadgeHidden="true" [ngClass]="getBadgeColor(status.key)"
              class="status-badge">
              {{status.value}}
            </span>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let client">
          <button mat-icon-button (click)="editClient(client.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteClient(client.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleExpand(client)">
            <mat-icon>{{ expandedElement === client ? 'expand_less' : 'expand_more' }}</mat-icon>
          </button>
          <button mat-icon-button (click)="openAddContractDialog(client.id)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let client; columns: displayedColumns;" class="element-row"
        [class.expanded]="expandedElement === client"></tr>

      <!-- Expanded Content Column -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let client" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="expandedElement === client ? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="client.contracts" class="inner-table">
              <ng-container matColumnDef="contractNumber">
                <th mat-header-cell *matHeaderCellDef> Contract Number </th>
                <td mat-cell *matCellDef="let contract"> {{contract.contractNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="contractDate">
                <th mat-header-cell *matHeaderCellDef> Contract Date </th>
                <td mat-cell *matCellDef="let contract"> {{contract.contractDate | date}} </td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let contract"> {{contract.value | currency}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let contract">
                  <span matBadge="{{contract.status}}" matBadgeHidden="true" [ngClass]="getBadgeColor(contract.status)"
                    class="status-badge">
                    {{contract.status}}
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let contract">
                  <button mat-icon-button (click)="cancelContract(contract.id)">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="contractColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: contractColumns;"></tr>
            </table>
          </div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addClient()">Adicionar Cliente</button>
  </mat-card-actions>
</mat-card>

<!-- Legenda -->
<div class="legend">
  <div class="legend-item pending">Pending</div>
  <div class="legend-item paid">Paid</div>
  <div class="legend-item cancelled">Cancelled</div>
  <div class="legend-item late">Late</div>
</div>