.element-row {
  cursor: pointer;
}

.element-row:hover {
  background-color: #f5f5f5;
}

.detail-row {
  background-color: #f9f9f9;
}

.mat-cell {
  vertical-align: top;
}

.status-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-right: 5px;
}

.status-badge.pending {
  background-color: #ffc107; /* Amber */
}

.status-badge.paid {
  background-color: #28a745; /* Green */
}

.status-badge.cancelled {
  background-color: #dc3545; /* Red */
}

.status-badge.late {
  background-color: #fd7e14; /* Orange */
}

.legend {
  display: flex;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-item::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend-item.pending::before {
  background-color: #ffc107;
}

.legend-item.paid::before {
  background-color: #28a745;
}

.legend-item.cancelled::before {
  background-color: #dc3545;
}

.legend-item.late::before {
  background-color: #fd7e14;
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

/* https://stackblitz.com/angular/eaajjobynjkl?file=src%2Fapp%2Ftable-expandable-rows-example.css */

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.inner-table {
  width: 100%;
}

.inner-table th, .inner-table td {
  padding: 8px;
}

.mat-column-expandedDetail {
  padding: 0 !important;
}
