@use '@angular/material' as mat;

// Define a custom color palette
$app-primary: mat.define-palette(mat.$blue-palette, 700, 500, 900);
$app-accent: mat.define-palette(mat.$azure-palette, A200, A100, A400);

// Define the dark theme
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  ),
));

@include mat.all-component-themes($app-theme);
