.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  padding: 20px;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 20px;
}

button {
  align-self: flex-end;
}
