<div class="login-container">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" type="email" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password" formControlName="password" type="password" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
</div>
