.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 10px;
}

button {
  align-self: flex-end;
}
